:root{
    --primary-color: #0e94e2;
    --primary-color-rbga: rgba(238, 75, 43, );
    --white-color: #fff;
    --black-color: #000;
    --text-color: #34495e;
    --border-color:#dbdbdb;
    --star-gold-color: #FFCE3E;
    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --hover-color: rgb(245, 167, 51);
}
*{
    box-sizing: inherit;
}
html{
    /*trick: 62.5% = 10px*/
    font-size:62.5% ;
    line-height: 1.6rem;
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    box-sizing: border-box;
}
p{
    font-size: 20px;
    margin: 0;
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.text-primary {
    color: var(--primary-color);
}

.text-primary:hover {
    color: var(--hover-color);
}

input[type='text']{
    font-size: 20px;
    line-height: 20px;
   }


/* Responsive */

.grid{
    width: 1700px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* test */

.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}




/*animation*/
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}

/* modal layout */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    margin: auto;
    animation: growth linear 0.1s;
}

ul {
    list-style-type: none;
    
}

a {
    text-decoration: none;
}

